@media (min-width: 1369px) {
  .transport__line {
    display: none;
  }
}
/**
  Десктоп маленький
 */
@media (min-width: 768px) and (max-width: 1368px) {
  .header {
    display: none;
  }
  .transport {
    padding: 5% 0 0 3%;
  }
  .transport__icons_cell {
    display: none;
  }
  .transport a {
    width: 40%;
  }
  .internationally {
    padding: 5% 0% 5% 15.3%;
    & h1 {
      font-size: 36px;
    }
    & p {
      font-size: 18px;
    }
    &__line {
      display: block;
      &_block {
        &_button {
          width: 45%;
          margin-bottom: 5%;
        }

      }
    }
    &__a {
      width: 45%;
      padding: 2.2% 0;
    }
  }
  .expeditionaly {
    .lines {
      display: inline-block;
    }
    &__line {
      & a {
        & svg {
          height: 50px;
        }
      }
      &_inf {
        width: 90%;
        & p {
          font-size: 14px;
        }
      }
        &_textl {
          width: 80%;
        }
        &_textr {
          margin-left: 0;
        }
      &_block {
        & h3 {
          font-size: 44px;
        }
        & h4 {
          font-size: 32px;
        }
        & p {
          font-size: 22px;
        }
      }
    }
    &__button {
      width: 40%;
      padding: 2% 0;
    }
  }
  .cooperation {
    .lines {
      display: inline-block;
      & p {
        width: 60%;
        font-size: 20px;
      }
    }
    &__line_right {
      margin-left: 0;
    }
    &__line_country {
      width: 30%;
      & h2 {
        font-size: 19px;
      }
    }
  }
  .price {
    .lines {
      display: inline-block;
    }
    &__line_left {
      a {
        display: flex;
        font-size: 18px;
        margin: 2% 0;
        & svg {
          height: 28px;
        }
      }
    }
  }
  .trust {
    .lines {
      display: block;
      & p {
        font-size: 18px;
      }
    }
  }
  .orders {
    padding: 3% 10% 5% 16%;
    .carousel__line {
      display: block;
      & h4 {
        font-size: 18px;
      }
      & p {
        font-size: 18px;
      }
    }
  }
  .about__line_block_date {
    margin: 3% 0;
  }
  .about a {
    width: 40%;
    padding: 2% 0;
  }
  .application__button {
    width: 40%;
    padding: 2% 0;
  }
  .footer {
    &__services {
      width: 25%;
      margin-right: 3%;
    }
    &__contacs {
      width: 33%;
    }
    &__about {
      margin-right: 6%;
      .logo {
        margin-bottom: 120%;
      }
    }
  }
  .page {
    .lines {
      display: inline-block;
      & h1 {
        font-size: 30px;
        margin: 2% 0 4% 0;
      }
    }
    & form {
      & input {
        padding: 4% 27% 4% 3%;
      }
      & textarea {
        padding: 4% 0 4% 3%;
      }
      & select {
        padding: 4% 13% 4% 3%;
      }
    }
    & a {
      width: 45%;
      padding: 2% 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1014px) {
  .header {
    display: none;
  }
  .transport {
    padding: 5% 0 0 5%;
  }
  .internationally {
    padding: 5% 0 2% 10%;
  }
  .expeditionaly {
    padding-left: 8%;
    &__line_inf {
      & h2 {
        font-size: 38px;
      }
      & p {
        font-size: 12px;
      }
    }
  }
  .cooperation {
    padding-left: 5%;
    .lines {
      & p {
        width: 90%;
        font-size: 20px;
      }
    }
    &__line_country {
      & h2 {
        font-size: 15px;
      }
    }
    & a {
      width: 30%;
      padding: 1.5% 0;
    }
  }
  .price {
    padding-left: 7%;
    .lines {
      display: inline-block;
    }
    &__line_inf {
      width: 30%;
    }
  }
  .about__line_block_date {
    margin: 3% 0;
  }
  .about a {
    width: 40%;
    padding: 2% 0;
  }
  .about {
    padding: 3% 10% 5% 10%;
  }
  .about__line_company {
    width: 30%;
    &_procter {
      width: 90%;
    }
    & img {
      margin-top: 35%;
    }
  }
  .application {
    padding-left: 8%;
  }
  .footer {
    & h5 {
      font-size: 12px;
    }
    &__contacs {
      width: 33%;
      & a {
        font-size: 10px;
      }
    }
  }
  .page {
    & form {
      display: inline-block;
      margin-left: 20%;
      & input {
        padding: 4% 27% 4% 3%;
      }
      & textarea {
        padding: 4% 13% 4% 3%;
      }
      & select {
        padding: 4% 19% 4% 3%;
      }
    }
  }
}


/**
  Планшет горизонтальный
 */
@media (min-width: 375px) and (max-width: 914px) {
  .header {
    display: none;
  }
  .transport {
    padding: 5% 0 0 3%;
    & h1 {
      font-size: 38px;
    }
  }
  .transport__icons_cell {
    display: none;
  }
  .transport a {
    width: 70%;
    padding: 2% 0;
  }
  .internationally {
    padding: 5% 0% 5% 5%;
    & h1 {
      font-size: 30px;
    }
    & p {
      font-size: 12px;
    }
    &__line {
      display: block;
      &_block {
        &_button {
          width: 80%;
          margin-bottom: 5%;
        }

      }
    }
    &__a {
      width: 90%;
      padding: 3.5% 0;
    }
  }
  .expeditionaly {
    padding-left: 5%;
    & h1 {
      font-size: 28px;
    }
    .lines {
      display: inline-block;
    }
    &__line {
      & a {
        & svg {
          height: 50px;
        }
      }
      &_inf {
        width: 135%;
        margin: 0 0 0 3%;
        & p {
          font-size: 14px;
        }
      }
      &_textl {
        width: 80%;
      }
      &_textr {
        margin-left: 0;
      }
      &_block {
        & h3 {
          font-size: 44px;
        }
        & h4 {
          font-size: 32px;
        }
        & p {
          font-size: 22px;
        }
      }
    }
    &__button {
      width: 90%;
      padding: 3.5% 0;
    }
    &__line {
      display: inline-block;
    }
  }
  .cooperation {
    padding-left: 7%;
    .lines {
      display: inline-block;
      & p {
        width: 90%;
        font-size: 20px;
      }
    }
    &__line {
      display: inline-block;
    }
    &__line_right {
      margin-left: 0;
    }
    &__line_country {
      width: 90%;
      padding: 10%;
      & h2 {
        font-size: 20px;
      }
    }
    & a {
      width: 90%;
      padding: 3.5% 0;
    }
  }
  .price {
    padding-left: 10%;
    & h1 {
      font-size: 28px;
    }
    & p {
      font-size: 20px;
      width: 85%;
    }
    &__line {
      display: inline-block;
      &_inf {
        width: 90%;
      }
    }
    .lines {
      display: inline-block;
    }
    &__line_left {
      a {
        display: flex;
        font-size: 18px;
        margin: 2% 0;
        & svg {
          height: 28px;
        }
      }
    }
  }
  .trust {
    padding-left: 10%;
    & h1 {
      font-size: 28px;
    }
    &__line {
      display: inline-block;
      & img {
        width: 80%;
        margin-top: 3%;
      }
    }
    .lines {
      display: block;
      & p {
        font-size: 18px;
      }
    }
  }
  .orders {
    padding: 3% 10% 10% 10%;
    & h1 {
      font-size: 28px;
    }
    & h2 {
      font-size: 20px;
    }
    &__line {
      flex-wrap: wrap;
      & svg {
        width: 32%;
      }
      & h3 {
        margin-right: 0;
      }
    }

    .carousel__line {
      display: block;
      & h4 {
        font-size: 15px;
        margin-top: 3%;
      }
      & p {
        font-size: 12px;
      }
      & a {
        width: 90%;
        padding: 2% 0;
      }
    }
    .carousel-indicators {
      margin-bottom: -8%;
    }
  }
  .about__line_block_date {
    margin: 3% 0;
  }
  .about {
    padding: 3% 5% 5% 5%;
    & h1 {
      font-size: 28px;
    }
    &__line {
      flex-wrap: wrap;
      &_company {
        width: 45%;
        margin-right: 5%;
      }
      &_block {
        width: 90%;
      }
    }
    & a {
      width: 90%;
      padding: 3.5% 0;
    }
  }
  .application {
    padding: 3% 5% 5% 5%;
    & h1 {
      font-size: 28px;
    }
    &__button {
      width: 90%;
      padding: 3.5% 0;
    }
  }
  .footer {
    display: inline-block;
    padding: 5% 0 5% 10%;
    &__services {
      width: 90%;
      margin-right: 0;
      & h5 {
        margin: 5% 0;
      }
    }
    &__contacs {
      width: 90%;
      & svg {
        margin: 0 1% 5% 0;
      }
    }
    &__about {
      width: 90%;
      margin-right: 0;
      .logo {
        margin-bottom: 20%;
      }
    }
  }
  .page {
    &__view {
      display: none;
    }
    &__line {
      display: inline-block;
    }
    & h1 {
      font-size: 26px;
    }
    & form {
      display: inline-block;
      margin-left: 5%;
      & input {
        padding: 4% 27% 4% 3%;
      }
      & textarea {
        padding: 4% 5% 4% 3%;
      }
      & select {
        padding: 4% 14% 4% 3%;
      }
    }
    &__button {
      width: 90%;
      padding: 3% 0;
    }
  }
}

