<footer class="footer">
<include src="src/templates/modals.html"></include>
<div class="footer__about">
  <p>Наша міжнародна, <br> сертифікована <br> логістична компанія</p>
  <div class="footer__about_line">
    <svg>
      <use xlink:href="./img/sprite.svg#iso"></use>
    </svg>
    <img src="./img/rzetelna.png" alt="#">
  </div>
  <div class="footer__about_line logo">
    <svg>
      <use xlink:href="./img/sprite.svg#decra"></use>
    </svg>
    <img src="./img/DMA.png" alt="#">
  </div>
  <p>© 2021 BAGAT All rights reserved.</p>
</div>
<div class="footer__services">
  <h3>Послуги</h3>
  <h5>Міжнародні перевезення <br> Залізничні перевезення <br> Мультимодальні перевезення <br> Автомобільні перевезення
    <br> Авіаперевезення <br> Морські перевезення <br> Збірні грузи <br> Небезпечні вантажі <br> Негабаритні вантажі
    <br> Проектні перевезення <br> Перевезення спецтехніки <br> Перевезення сільгосптехніки <br> Логістичний термінал</h5>
  <a href="#">Політика конфіденційності</a>
</div>
<div class="footer__contacs">
  <h3>Контакти</h3>
  <div class="footer__contacs_line">
    <div class="footer__contacs_line_block">
      <a href="#">8 (800) 302-37-50 <br></a>
      <a href="#">info@bagat.su</a>
      <h4>Офіс у Росії:</h4>
      <a href="#">вул. Михалковская ул., <br> 63Б, стор 2, 125130 <br> Москва, Росія</a>
    </div>
    <div class="footer__contacs_line_block">
      <a href="#">+48 85 67 69 820 <br></a>
      <a href="#">info@bagat.su</a>
      <h4>Офіс у Польщі:</h4>
      <a href="#">ul. Elektryczna 1 <br> 15-080 Białystok, <br> Polska</a>
    </div>
  </div>
  <div class="footer__contacs_line">
    <svg>
      <use xlink:href="./img/sprite.svg#facebook"></use>
    </svg>
    <svg>
      <use xlink:href="./img/sprite.svg#instagram"></use>
    </svg>
    <svg>
      <use xlink:href="./img/sprite.svg#youtybe"></use>
    </svg>
    <svg>
      <use xlink:href="./img/sprite.svg#telegram"></use>
    </svg>
    <svg>
      <use xlink:href="./img/sprite.svg#whatsup"></use>
    </svg>
  </div>
  <a class="footer__contacs_button" href="#">Карта сайтy</a>
</div>
<script defer src="/js/libs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script defer src="/js/app.js"></script>
</footer>

